  <h1 style="color: var(--rwth-red-100)">Interview inquiries</h1>
  <img style="float: left; margin: 5px 25px 0 0" src="assets/images/profiles/mruppe.jpg" class="member-image">
  <p style="padding-bottom: 25px">Please address all interview inquiries with Prof. Dr. Holger H. Hoos or related to AIM to our Research Network Coordinator, <a href="mailto:ruppe@aim.rwth-aachen.de?subject=Interview%20inquiry%20via%20AIM%20website&cc=hh@aim.rwth-aachen.de" alt="Write email to Maddy Ruppé">Maddy Ruppé</a>.</p>
