{% assign filteredmembers = include.members %}

<div id="member-list">
  {% for member in filteredmembers %}
  <div class="member">
    <img class="member-image" src="{{ site.baseurl }}/assets/images/profiles/{{ member.identifier }}.jpg" alt="Photo of {{ member.name }}">
    <span class="member-name">{{ member.academic_title }} {{ member.name }}</span>
    <span class="member-position">{{ member.position }}</span>
    <p>
      {% if member.email %}
      <b>E-mail:</b> <a href="mailto:{{ member.email }}?subject=Contact%20via%20AIM%20website" title="Write email to {{ member.name }}">{{ member.email | replace: "@", "[at]" | replace: ".", "[dot]" }}</a>
      {% endif %}
      {% if member.phone %}
      <br><b>Phone:</b> {{ member.phone }}
      {% endif %}
    </p>
    <div class="member-description">
    <p>{{ member.content | markdownify }}</p>
    </div>
    <ul class="member-links">
    {% for link in member.external_links %}
      <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
  </div>
