{% assign identifiers = include.members | split:"," %}

<div id="member-list">
  {% assign should_be_shown = 0 %}
  {% for member in site.members %}
    {% assign should_be_shown = 0 %}
    {% for id in identifiers %}
      {% if id == member.identifier %}
        {% assign should_be_shown = 1 %}
      {% endif %}
    {% endfor %}
    {% if should_be_shown == 1 %}
      <div class="member">
        <img class="member-image" src="{{ site.baseurl }}/assets/images/profiles/{{ member.identifier }}.jpg" alt="Photo of {{ member.name }}">
        <span class="member-name">{{ member.academic_title }} {{ member.name }}</span>
        <span class="member-position">{{ member.position }}</span>
        <p>
          {% if member.email %}
            <b>E-mail:</b> <a href="mailto:{{ member.email }}?subject=Contact%20via%20AIM%20website" title="Write email to {{ member.name }}">{{ member.email | replace: "@", "[at]" | replace: ".", "[dot]" }}</a>
          {% endif %}
          {% if member.phone %}
            <br><b>Phone:</b> {{ member.phone }}
          {% endif %}
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>
