<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.tooltip-1.0.js' | absolute_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/main.js' | absolute_url }}"></script>

  <title>{{ page.title }}</title>
  <!-- description used by search engines, matching keywords highlighted in bold -->
  <meta name="description" content="{{ page.description }}">

</head>

  <body>
    <header>
      <div class="wrapper">
        <div class="box">
          {% include logo.html %}

          {% include navigation.html %}
        </div>
      </div>
    </header>

    {{ content }}

    <footer>
      <div class="wrapper">
        <div class="box">
          {% include footer.html %}
        </div>
      </div>
    </footer>

  </body>
</html>
